---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/badge.astro';
import LinkedInIcon from '../components/icons/LinkedInIcon.astro';
import SocialPill from '../components/socialPill.astro';
import Github from '../components/icons/Github.astro';
import Email from '../components/icons/Email.astro';
import Experience from '../components/Experience.astro';
import SectionsContainer from '../components/SectionsContainer.astro';
import Maleta from '../components/icons/maleta.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout tittle="welcome to Astro.">
	<main>
		<SectionsContainer class="py-35 pb-20">
		<img 
        	class="rounded-full size-15 mb-4" 
        	src="yo.jpg" 
        	alt="Jose photo"
    	/>
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
			Hola, Jose Dev<a 
			href="https://www.linkedin.com/in/jose-david-usuga-fuentes-751755382/" 
			target="_blank"
			rel="noopener" 
			class="flex justify-center items-center"
			>
				<Badge> Disponible para trabajar</Badge>
			</a>
		</h1>
		<h2 class="text-xl text-wrap ">
			Profesional con experiencia en desarrollo de software y gestión de bases de datos MySQL, capaz de
			adaptarme a diversos lenguajes de programación como C++, Java, Python y PHP. Cuento con
			conocimientos prácticos en tecnologías cloud, específicamente AWS, Docker y N8N, lo que me permite
			implementar soluciones eficientes en entornos tecnológicos variados. 
		</h2>

		<nav class="flex gap-x-5 mt-5">
				<SocialPill href="https://www.linkedin.com/in/jose-david-usuga-fuentes-751755382/">
					<LinkedInIcon class="size-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href=" https://github.com/elchetos007">
					<Github class="size-6"/>
					Github
				</SocialPill>
				<SocialPill href="mailto:usugafuentesj@gmail.com" >
					<Email class ="size-6"/>
					usugafuentesj@gmail.com
				</SocialPill>
		</nav>

		</SectionsContainer>

		<SectionsContainer id="Experiencia">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Maleta class="size-7"/>
				Experiencia laboral
			</h2>
			<Experience/>
		</SectionsContainer>
	</main>
</Layout>
